extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/new') New Message
  ul 
    each message in messages
      section.message-card 
        h2= message.user
        h4= message.text
        p= message.added

